.DS_Store
*.pkl
*.pyc
src/.nfs*
defunct/
.vscode/
test_log_units.py
internal_structure_notes.txt

user/results/*/
APOLLO.code-workspace
user/results/plot_dynesty_results.py
user/results/2M2236_table_example.tex
user/results/HD106906_table_example.tex
plot_from_pickle.py
plot_stuff.pickle
extensions_I_use.txt
*.pdf

plot_stuff_JWST-only_2M2236_logg-free_against_HK+JWST_2M2236_logg-free_data.pickle
plot_stuff_JWST-only_2M2236_logg-normal_against_HK+JWST_2M2236_logg-free_data.pickle
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
.idea/misc.xml
.idea/APOLLO.iml
.idea/modules.xml
working_philosophy.txt
data_spoof_0.6_5.0_R500.dat
apollo/submodels/play_with_signature.py
apollo/test_enum_stuff.py
fit_T_array_to_piette.py
test_function_structure.py
apollo/test_msgspec.py
apollo/test_piette_models.py
apollo/submodels/test_function_model.py
apollo/submodels/test_function_model.py
apollo/test_unpack_dataclass.py
test_helium_spec.py
extensions/writeh2.50k.cpp
extensions/writehe.nir.cpp
extensions/check_hespec.py
apollo/RT_Toon1989_rust.rs
test_array_typing.py
extensions/SONORA_chemical-equilibrium_profile_logg3.5_Teff1300_ctoo-vs-solar1_metallicity0.5.nc
.stfolder/syncthing-folder-47c47a.txt
