astropy==5.3.4
colormath==3.0.0
corner==2.2.1
Cython==3.0.7
dynesty==2.1.2
emcee==3.1.2
matplotlib==3.8.0
numpy==1.26.4
pandas==2.2.1
Pint==0.23
pint-xarray==0.3
polars==0.20.18
PyYAML==6.0.1
PyYAML==6.0.1
schwimmbad==0.4.2
scipy==1.13.0
toolz==0.12.0
xarray==2023.6.0
